{% extends 'base.html' %}
  {% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background-image: url('https://images.unsplash.com/photo-1474402656496-6641a08dab21?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80/1100x400');
      height: 400px; width: 1100px; ">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour in tours %}
      <div class="col-4">
        <div class="card mb-4" >
            <div class="embed-responsive embed-responsive-16by9">
               <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}"  alt="picture of {{ tour.title }}" />
            </div>
            <div class="card-body">
              <h2 class="h5 card-title">{{ tour.title }}</h2>
              <p class="card-text">{{ tour.description|truncate(100) }}</p>
              <a href="/tours/{{ tour.id }}/" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  {% endblock %}

